/* table & form */
* {margin:0; padding:0;}
body {font-size:85%;
font-family:dotum;
 }
img {vertical-align:top; border:none;}
a:link,
a:hover,
a:active,
a:visited {text-decoration:none;}

table{
	border:none;
}

h1{
	display:block;	
	width: 98%;
	height: 20px;
	margin: 20px auto;

	padding-top: 10px;
	padding-bottom: 10px;
	text-align:center;
	font-weight: bold;
	color: WHITE;
	/* background: url('./images/h1_bg.gif') repeat-x top left;*/
	background-color: #3f93c7;
	border: 2px solid #175e94;
	/**FF**/
	-moz-border-radius: 10px;
}

h2{
	display:block;	
	width: 99%;
	height: 10px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align:center;
	font-weight: bold;
	font-size: 90%;
	color: WHITE;
	/* background: url('./images/h1_bg.gif') repeat-x top left;*/
	background-color: #3f93c7;
	border: 2px solid #175e94;
	/**FF**/
	-moz-border-radius: 3px;	
}

#wrap{
	background-color: #fff;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 1040px;
	height: 960px;
	border: 3px solid #999;
	background-color: #ccc;
	/**FF**/
	-moz-border-radius: 8px;
}

#main{
	width: 95%;
	margin: 10px auto;
	border: 2px solid #999;
	background-color: WHITE;
	/**FF**/
	-moz-border-radius: 8px;	
}

#eventList{
	width: 98%;
	margin: 10px auto;
	text-align:center;
}




#info{ margin-right: 15px; }



.tableBox{
	width: 100%;
}


/*
 * form table
 */
.join_tbl { margin:0 auto; width:50%; margin-bottom:10px; border-spacing:0; border-collapse:collapse; border:2px solid #333; font-size:90%; font-family:dotum;}
.join_tbl th {padding:8px 0 8px 15px; text-align:left; color:#3f93c7; border-bottom:1px solid #ccc;}
.join_tbl td {padding:8px 0 8px 15px; color:#999; border-bottom:1px solid #ccc;}
.inputText {padding:2px 0 0 5px; background:#eee; border:1px solid #d1d1d1;}
.radio {width:11px; height:11px; vertical-align:middle; margin-top:-2px;}
textarea {width:95%; height:150px; padding:5px 10px; background:#eee; borde:1px solid #d1d1d1; color:#666;}
fieldset {border:none;}
legend {display:none;}
.form_btn { margin-top: 30px; text-align:center;}
/**********************/

/*
 * class sortable
 */
.sortable{ 
	cursor: pointer;
	width: 100%;
	font-size: 80%;
	border-left:1px solid #c6d5e1; 
			
}
.sortable th {
	background:url(./images/header-bg.gif);
	text-align:center;
	color: #FFF;
	border:1px solid #fff;
	border-right:none;
	height:28px;
	font-weight: bold;
}

.sortable tbody td {
	text-align: center;
	margin: auto;
	padding:5px;
	color: #464646;
	font-size: 110%;
	border-bottom:1px solid #c6d5e1; 
	border-right:1px solid #c6d5e1;
}
/**********************/

#eventSortList{
	margin-top: -2px;
	margin-left: 3px;
	vertical-align:middle;
}

.radioText input{
	margin-right: 5px;
	vertical-align:middle;
}

.radioText label{
	margin-right: 30px;
	color: #4b4b4b;
	font-weight:bolder;
}
/*
 * Buttons
 */

button{
	color: #085B7B;
	background: #8FD3EF;	
	border: 2px solid #175e94;
	padding: 7px 22px;
	font-size: 12px;
	margin-left: 20px;
	font-weight:bold;
	cursor: pointer;
	-moz-border-radius:5px;	
}

button:hover{
	color: WHITE;
	background-color: #085B7B;
}

/* Footer */
#footer-wrap {
}

#footer {
	padding: 1px;
	text-align: center;
	font-size: 9px;
	display:block;
}
/*-----------------------------------------------------*/

.evr {
	font-weight: bold;
	color: #3C7BCF;
}

html>body #footer {
	height: auto;
}

#footer p {
	font-size: 14px;
}
