*{margin:0;padding:0}
img{vertical-align:top}img,table,fieldset{border:none}a:visited,a:active,a:hover,a:link{text-decoration:none}
.join_tbl{font:90% dotum;margin-bottom:10px;margin-top:20px;border-spacing:0;border-collapse:collapse;border-top:2px solid #ccc;border-bottom:2px solid #ccc;background:#fbfbfb;}
.join_tbl th,.join_tbl td{padding:8px 0 8px 15px;border-bottom:1px solid #ccc}.join_tbl th{text-align:left;color:#3f93c7}.join_tbl td{color:#777;}.inputText{padding:2px 0 0 5px;border:2px solid #d1d1d1}.inputText, textarea{background:#eee}.radio{width:11px;height:11px;vertical-align:middle;margin-top:-2px}textarea{width:95%;height:150px;padding:5px 10px;borde:1px solid #d1d1d1;color:#666}legend{display:none}.form_btn{margin-top:30px;text-align:center}
/* It has been Optimized*/

 .button{
 	text-align:center;
 }
.inputFocus{ border: 2px solid #38A8E7; background: #EDFAFE}

/*
 * form css
 */

.form{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
.form h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
.form p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
.form label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
font-size: 80%;
color: #555;
}
.form .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
.form input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
.form .button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;

color:#FFFFFF;
font-size:11px;
font-weight:bold;
cursor: hand;
}