#wrapper{ margin: 0 20 0 20; }
.miniload{background:url(../images/bg_mini300.gif) no-repeat; width:100%;height:100%;}
.miniload .minile{float:left;padding:33px 0 0 38px;}
.miniload .minire{float:left;text-align:left;padding:40px 0 0 13px;color:#666;}
.miniload .minire strong{color:#f66828;font-size:14px;line-height:22px;}
.scrollable {
	overflow:hidden;
	width: 642px;
	height:150px;
	border: 1px solid #ccc;
}
.scrollable .items {
	width:20000em;
	position:absolute;
}
.items div {
	float:left;
}

.scrollable {
	float:left;
}
.browse{ cursor:pointer;}
a.disabled {
	visibility:hidden !important;		
}
.bx{ padding: 5px;}
.phon{background:url("../images/k_emotibg.gif") 0% 0% no-repeat;border:none;overflow:hidden;FONT-SIZE:9pt;FONT-FAMILY: µ¸¿òÃ¼;width:118px; height:132px; padding:30px 5px 10px 9px;color:#323433;cursor:hand;margin-bottom: 6px;}
.phon a{ text-align: center; margin: 0px;padding: 0px;}	}
.center{ width: 100%;}
#phoneView {  color: #fff; margin-left:10px;  width: 199px; height: 383px; background: url("../images/k_ponebg_new.gif") left top no-repeat; float: left;  }
#phoneViewBottom{  }
.phonexViewTextArea{ margin-top: 60px; width: 190px; margin-left: 0px; padding-bottom: 10px;}
 .leftFloat{ float: left; }
#f_message{
	color: #fff;
	background:transparent;
	overflow: hidden;
	scrollbar-face-color: #ebfaff; 
	scrollbar-shadow-color: #7FA3D3; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #7FA3D3; 
	scrollbar-darkshadow-color: #FFFFFF; 
	scrollbar-track-color: #F9FFFF;
	scrollbar-arrow-color: #7FA3D3;
	border: none;
	height: 90px;
	width: 150px;
	margin-left:22px;
	text-align:left; FONT-FAMILY:±¼¸²Ã¼; FONT-SIZE:15px; LINE-HEIGHT:14px;
}
#phoneViewBtn{ text-align: center;margin-top: 10px;}
#textByte{ background-color: transparent; border: none; color: #fff; }
#phoneViewLogo{ padding-bottom:3px; font-weight: bold; text-align: center;}
#pone_list{margin-left: 10px;}
#messageBoxes{ width: 715px; height:300px; margin: 0 auto; margin-top: 50px; margin-left: 40px;}
#cen{width: 715px; height:160px; margin: 0 auto;}
.prev, .next{  float: left; margin: 60px 10px 0 10px; }
#dateTimePicker{width:202px;height:300px; display: none;}
#emoticonsTab{ display:none; width: 280px; height: 360px; border: 1px solid #e1e1e1; background-color: #fbfbfb;}
#emoticonsTab h2{font-weight: bold; border-bottom: 1px solid #e1e1e1; text-align:left; cursor:pointer; color: #696969; font-size: 14px; padding:5px 0 5px 15px; }
#emoticonsTab h2.current{border-top: none; color: #4481d6;}
#emoticonsTab table td{ padding: 5px; cursor: pointer; font-size: 13px; color: #666; }
#receiver{ height: 40px;}
#reserveBtn{ margin-left:5px;}
#ajaxSearch {ime-mode:active;width:125px; background:#f6f6f6;vertical-align: middle;}
#addList{ margin-left: 5px; vertical-align: middle; }
#receiver{height: 25px;}
#receiver {cursor:pointer;cursor:hand;margin-left: 130px;font-weight: bold;}
#receiver img{ margin: 0 2px 0 5px; cursor:pointer;cursor:hand;vertical-align: -4px;}
#listPlus{vertical-align: middle;cursor:pointer;}
#finalSendBtn{cursor:pointer;}
#reservationTime{ display: none;}
#loadingBar{margin-top: 50px;}
#emoticonsTab div{ border-bottom: 1px solid #e1e1e1;}
.bt{cursor: pointer;}
#JsNewNum {text-align: right; vertical-align: middle;}
#JsNewNum a#reset:hover{ background: none;}
#JsNewNum #reset img{margin-top:3px;}
.srh a{ color: #333; font-weight: bold;}
.srh a:hover{/*color: #4481d6;*/ color: #D80000;}
.srh img {vertical-align: -5px; margin-left:3px; margin-right:3px;}
.inp{padding-top:2px;text-align:center; }
.invalid{ border: 2px solid red; color: red !important;}
.pane{ text-align: center;}
#spamList{ display:none; }
 .miniload{background:url(./images/bg_mini300.gif) no-repeat; width: 300px; height:100px; 
 	position: absolute; left: 50%; top: 50%;  margin-left: -150px; margin-top: -50px;  }
.miniload .minile{float:left;padding:33px 0 0 38px;}
.miniload .minire{float:left;text-align:left;padding:40px 0 0 13px;color:#666;}
.miniload .minire strong{color:#f66828;font-size:14px;line-height:22px;}
/* numeric controls */	
ol#controls{
	display:none;
	border: 2px solid #e1e1e1;
	position: absolute;
	right: 270px;
	top: 320px;
	margin:1em 0;
	padding:0;
	height:28px;
	width: 154px;
	height: 154px;	
	background-color: #fff;
	}
ol#controls li{
	margin:1px; 
	padding:0;
	float:left;
	list-style:none;
	height:38px;
	line-height:38px;
	}
ol#controls li a{
	float:left;
	height:38px;
	line-height:38px;
	border:1px solid #ccc;
	background:#DAF3F8;
	color:#555;
	padding:0 20px;
	text-decoration:none;
	}
ol#controls li a#backSpace{ padding: 0 16px;	}	
ol#controls li a:hover{
	background:#5DC9E1;
	color:#fff;
	}
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
li#keyPadClose{ height:18px; line-height:18px; width: 150px; padding: 0;}
li#keyPadClose a{ height:18px; line-height:18px; width: 148px; padding: 0; }