BODY,TABLE{ font-family:±¼¸²,arial; line-height:130%; font-size:12px; color:#303030; word-break:break-all}
a:link {font-family:±¼¸²,arial; text-decoration:none; color:#363636}
a:visited {font-family:±¼¸²,arial; text-decoration:none; color:#363636}
a:hover {font-family:±¼¸²,arial; text-decoration:none; color:#FF7D00}
a:active {font-family:±¼¸²,arial; text-decoration:none; color:#363636}


.dot_line {height:1px; background-image:dot_line.gif}

.s_textarea {font-family:±¼¸²,µ¸¿ò,arial; line-height:130%; font-size:12px; color:#666666; background-color:#FFFFFF; overflow:auto; border:#C0C0C0 1px solid; scrollbar-face-color:#FFFFFF; scrollbar-track-color:#EFEFEF; scrollbar-arrow-color:#999999; scrollbar-highlight-color:#FFFFFF; scrollbar-3dlight-color #FFFFFF; scrollbar-shadow-color:#CCCCCC; scrollbar-darkshadow-color:#FFFFFF}



.address_line01 {border-top:2px solid #978FDF; border-bottom:2px solid #AD95E8}
.address_line02 {border-top:2px solid #978FDF; border-bottom:1px solid #978FDF}
.address_line03 {border-top:1px solid #4F526C; border-bottom:1px solid #4F526C;}


.address_list01 {height:26px; background:#C0B0E8; color:#422D76; text-align:center; font-weight:bold; border-bottom:1px solid #948CDC; padding:4 2 0 2; letter-spacing:-1px;}
.address_list02 {height:20px; color:#555555; text-align:center; padding:5 2 2 2; background-image:dot_line.gif}
.address_list03 {height:21px; color:#555555; padding:1 3 0 3}
.address_list04 {height:80px; background:#C0B0E8; color:#422D76; text-align:center; font-weight:bold; padding:4 2 0 2; letter-spacing:-1px;}
.address_list05 {height:35px; background:#E7E1F6; color:#362D76; text-align:center; font-weight:bold; padding:4 2 0 2; letter-spacing:-1px;}
.address_list06 {height:35px; background:#E9E4F8; color:#0F1438; text-align:center; letter-spacing:-1px;}
.address_list07 {height:30px; border-bottom:1px solid #D2D3DA; padding:4 2 0 2; letter-spacing:-1px;}
.address_check {text-align:center; padding:0 3 0 3}
.address_list08 {height:26px; background:#C0B0E8; color:#422D76; text-align:left; font-weight:bold; border-bottom:1px solid #948CDC; padding:3 1 0 0; letter-spacing:-1px;}
.red {color:#fb1e13; letter-spacing:0px;}

.address_text01 {text-decoration:none; color:#1462a7; font-weight:bold; padding:7 0 4 5; letter-spacing:-1px;}
.address_text01:link {text-decoration:none; color:#1462a7; font-weight:bold; padding:7 0 4 5; letter-spacing:-1px;}
.address_text01:visited {text-decoration:none; color:#1462a7; font-weight:bold; padding:7 0 4 5; letter-spacing:-1px;}
.address_text01:hover {text-decoration:underline; color:#1462a7; font-weight:bold; padding:7 0 4 5; letter-spacing:-1px;}
.address_text01:active {text-decoration:none; color:#1462a7; font-weight:bold; padding:7 0 4 5; letter-spacing:-1px;}

.address_text02 {color:#3897cc; font-weight:bold; padding:7 0 4 5; letter-spacing:-1px;}
.address_text02:link {text-decoration:none; color:#3897cc; font-weight:bold; padding:7 0 4 5; letter-spacing:-1px;}
.address_text02:visited {text-decoration:none; color:#3897cc; font-weight:bold; padding:7 0 4 5; letter-spacing:-1px;}
.address_text02:hover {text-decoration:underline; color:#3897cc; font-weight:bold; padding:7 0 4 5; letter-spacing:-1px;}
.address_text02:active {text-decoration:none; color:#3897cc; font-weight:bold; padding:7 0 4 5; letter-spacing:-1px;}
