
body {
	font: 12px;
	word-spacing:2px;
}
*{
	margin:0;
	padding:0;
}
img{border:none;}
#wrapper {
	background:#fff;
	width:100%;   
	text-align:center;   
}

#innerwrapper {
	margin:1px;
	padding:0px;
	margin:0 auto;   
	width:1000px;/  
	text-align:left;  
}

#header input {
	width:150px;
	padding:5px;
	background:#fff;
	border:2px solid #f6f6f6;
	font:150% Arial;
	color:#999;
}

#header input:hover {
	border:2px solid #ccc;
}

#header input:focus {
	border:2px solid #79B5D6;
	color:#555;
}

#header form {
	padding:27px 25px 20px 25px;
	float:right;
	background:#fff;
	width:160px;
	margin:-20px -20px 0 0 !important;
	margin:-20px -10px 0 0;
	border:none;
}

#header h1 {
	float:left;
	font:250% Georgia;
	color:#333;
	padding:5px 20px 0px 5px;
	margin:0 20px 0 0;
}

#header h1 a {
	color:#333;
	text-decoration:none;
	
}

#header h1 a:hover {
	color:#111;
	
}

#header h2 {
	font:120% Georgia;
	font-weight:normal;
	color:#999;
	padding:22px 0 0 30px;
	border:none;
}

#header h2 a {
	color:#555;
	text-decoration:none;
	border-bottom:2px solid #f6f6f6;
}


#header #nav {
	clear:both;
	background:url(../images/nav.jpg) top repeat-x #4F9EC9;
	border-bottom:2px solid #4F9EC9;
	border-top:2px solid #388CBA;
	border-left:2px solid #388CBA;
	border-right:2px solid #388CBA;
	padding:10px 10px 10px 0 !important;
	padding:4px 10px 10px 0;
}

#header a em {
	font-style:normal;
	text-decoration:underline;
}

#header #nav a {
	color:#fff;
	font:130% Trebuchet MS;
	text-decoration:none;
	padding:10px;
	font-weight: bold;
}

#header #nav a:hover {
	background:#4F9EC9;
}

#header #nav a.active {
	background:#4F9EC9;
}

#header #nav li {
	display:inline;
	list-style:none;
	margin:0 1px 0 0;
}

#header #subnav {
	background:#4F9EC9;
	padding:1px;
	font:90% Verdana;
	color:#DEEDF5;
	border-bottom:2px solid #388CBA;
	border-left:2px solid #388CBA;
	border-right:2px solid #388CBA;
	height: 20px;
}
* html #header #subnav {height: 20px;}

#header #subnav li {
	list-style:none;
	display:inline;
}

#header #subnav a {
	color:#DEEDF5;
	text-decoration:none;
	font:100% Verdana;
	border-bottom:2px solid #4F9EC9;
}

#header #subnav a:hover {
	border-bottom:2px solid #388CBA;
	color:#fff;
}

#header #subnav a.active {
	border-bottom:2px solid #388CBA;
	color:#fff;
}

#sidebar, .dialog, #notice {
	width:100px;
	padding:10px;
	color:#333;
	border: 2px solid #ccc;
}
* html #sidebar, #notice, .dialog {width:200px;}

#sidebar h2, .dialog h2 {
	font:130% Arial;
	/*color:#999;*/
	color:#333;
	font-weight: bold;
	margin:10px 0 10px 0;
	/*background:url(../images/sidebarh2.jpg) right no-repeat;*/
	border:none;
}

#sidebar h3, .dialog h3 {
	color:#FF8040;
	font:90% Verdana;
	font-weight:bold;
	letter-spacing:2px;
}

#sidebar p, .dialog p {
	margin:15px 0;
	font:12px Verdana bold;
	background: url("../images/u_logindot.gif") left bottom repeat-x;
}


#sidebar p.news a:hover  {
	color:#98D158;
}

#sidebar .subnav {
	border-top:1px solid #2C2C2C;
}

#sidebar .subnav li {
	list-style:none;
	padding:5px;
	border-bottom:1px solid #2C2C2C;
}

#sidebar .subnav li a {	
	color:#ccc;
	text-decoration:none;
	display:block;
}

#sidebar .subnav li a:hover {
	color:#98D158;
}

#sidebar .subnav li a b {
	float:right;
	display:none;
	color:#666;
}

#sidebar .subnav li a:hover b {
	display:inline;
}

#sidebar input {
	padding:4px;
	background:#2c2c2c;
	border:1px solid #222222;
	color:#ccc;
	font:90% Verdana;
	width:190px;
}

#main {
	/*padding:20px 0 0 220px;*/
	padding:20px 0 0 5px;
	width: 100%;
}

#contentnorightbar {
	margin:0 0 0 240px;
	padding:20px 0 0 20px;
}

p {
	margin:15px 0;
	line-height:22px;
}

h2 {
	font:190% Arial;
	color:#79B933;
	border-bottom:2px solid #777;
	margin-bottom:10px;	
}

h2 a {
	color:#79B933;
	text-decoration:none;
}

h2 a:hover {
	color:#5F9128;
}


#footer {
	clear:both;
	border-top:1px solid #eee;
	padding:10px;
	margin:30px 0 0;
	text-align:center;
}


h3 {
	font:140% Trebuchet MS;
	margin:10px 0;
}

#content ul {
	margin:15px 0 15px 0;
	line-height:25px;
	padding:15px 0 15px 15px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	color:#79B933;
}
#content ul span {
	color:#444;
}
#contentnorightbar ul {
	margin:15px 0 15px 20px;
	line-height:25px;
	padding:15px 0;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	color:#79B933;
}
#contentnorightbar ul span {
	color:#444;
}

/*
label {
	display:block;
	font-weight:bold;
	color:#444;
	margin:5px 0;

}
*/
#main input {font-family:Dotum,AppleGothic,sans-serif;font-size:12px;color:#363636;}
textarea {
	width:400px;
	padding:4px;
	font:90% Verdana;
	border:1px solid #eee;
	height:200px;
	display:block;
	color:#777;
}

p img {
	float:left;
	margin:0 10px 0 0;
}

blockquote p {
	font:160% Georgia;
	color:#aaa;
	padding:0 10% 0 0;
	line-height:30px;
}

caption{ color: #333; font-size: 100%; text-align: left; font-size: 90%; text-indent: 5px; }

/*
 * 
 *  table css
 */
 /*
caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}
*/
.board{
    border-collapse: collapse;
    border-right: 1px solid #C1DAD7;
    margin: 0 auto 1.5em auto;
    padding: 10px;
	margin-bottom: 30px;
	margin-top: 30px;
	font-size : 120%;

    }

.board th {
    background: #CAE8EA url(../images/bg_header.jpg) no-repeat;
	border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	color: #4F6B72;
    /*font: bold 1.30em/2.20em "Trebuchet MS", verdana, arial, helvetica, sans-serif;*/
    letter-spacing: 1px;
    padding: 8px 12px 4px 12px;
	text-align:center;
    vertical-align: middle;
	font-size : 12px;
}
/*
.board th a {
	text-decoration: none;
	color: #4F6B72;
	}
.board td a {
	background: transparent;
	color: #223399;
	text-decoration: none;	
	}

.board td a:hover {
    border: 1px dotted #0095C1;
	color: #0095C1;	
    }
*/
.board td {
	text-align:center;
    border-bottom: 1px solid #C1DAD7;
	border-left:  1px solid #C1DAD7;
    color: #4F6B72;
	/*font: normal 1.30em "Trebuchet MS", verdana, arial, helvetica, sans-serif;*/
	padding: 3px 6px 3px 6px;
	font-size : 80%;
    }
    
.board td.left {
    text-align: left;
    }
.board tr.alt {
    background: #F5FAFA;
    color: #797268;
    }
.board tbody tr.alt td:first-child {
    background: #F5FAFA url(bullet2.gif) no-repeat;
    font-weight: bold;
    }
.board tbody tr td:first-child {
    background: #fff url(bullet1.gif) no-repeat;
    font-weight: bold;
    }
.alt {
	background: #F5FAFA;
	color: #797268;
}

.over{
	color:#4F9EC9;
	background: #dbecf9;
}

#footer{
	border-top: 1px solid #ccc;
	color: #666;font-size: 90%;font-weight:bold;
}

#footer span{
	color: #536BF1;
}

#sideMenu{margin-top:20px; width: 200px;height: 460px;float: left;}

.leftmenu{ margin-top:20px;margin-bottom:20px; width: 200px;height: 160px; padding-top: 5px;  background: url("../images/bg_left_top_n.gif") left top no-repeat; }
.leftmenu dl{ background: url("../images/bg_left_center_n.gif") left top repeat-y;}
.bgbottom{  width: 200px; height: 5px; background: url("../images/bg_left_bottom_n.gif") left bottom no-repeat;margin-top: -10px; }
/*left list*/
.leftmenu .sms_list dt{background:url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/k_dotline.gif) 0% 100% repeat-x;padding:0 0 5px 3px;margin:0 0 10px 0;}
.leftmenu .sms_list dt div{background:url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/ut_arrow01.gif) 0% 0% no-repeat;padding:4px 0 0 20px; }
.leftmenu .sms_list dt .send{background:url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/u_lefticon01.gif) 0% 0% no-repeat;padding:4px 0 0 20px;}

.leftmenu .sms_list dt .save{background:url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/u_lefticon02.gif) 0% 0% no-repeat;padding:2px 0 2px 20px;}

.leftmenu .sms_list dt em{color:#f56824;font-weight:bold;}
.leftmenu .sms_list dd{margin:0 0 4px 0;}
.leftmenu .sms_list dd a{padding:0 0 4px 11px;background:url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/i_mdot2.gif) 0% 3px no-repeat;margin:0 0 0 9px;}
.leftmenu .sms_list .left_sub{padding:0 0 0 20px;color:#b8bbbd;}
.leftmenu .sms_list .left_sub a{background:none;padding:0;margin:0}
.leftmenu .sms_list .sub_aa{margin:6px 0 3px 0;}
.leftmenu .sms_list .sub_ab{margin:0 0 6px 0;}


.leftmenu .sms_list .free{background:url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/k_dotline.gif) repeat-x;padding-top:10px;margin-bottom:0;}
.leftmenu .sms_list .free div{background:url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/ic_lmenu1.gif) no-repeat;padding:2px 0 2px 20px;}
.leftmenu .sms_list .invite{ background:url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/k_dotline.gif) repeat-x;padding:10px 0 2px 3px;margin-bottom:0;}

.mtit{padding:3px 0 9px 0;}  .mtit2{padding:14px 0 9px 0;}
.mtit img{ vertical-align: middle; margin-left: 3px;}
.mtit a span{font-size:12px; color: #333;}
.motli a .date{ font-size: 9px; color: #666;}
.motli a:hover { color: red; }
.mtit h2{ font-size: 14px;font-weight:bold; margin-left:5px; color:#79B933;border-bottom:none;margin-bottom:0px; }

.textarea01_v {
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#E6DECC;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#E6DECC;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;
	scrollbar-arrow-color:#98856F;
	overflow-y:auto;
	font-family:Dotum;font-size:12px;color:#4F4F4F;
	border:1px solid #C4D8BE;
	background-color:#FFFFFF;
	padding:12 15 12 15;
	width:440px;height:150px; /*_*/
}

