<STYLE type=text/css>

 FORM, P     { margin:0px; }
 img         { border: none; }

.BodyBg01 {background:url('/images/main/main_bg.gif');background-repeat:repeat-x;background-color:#ffffff;}

/*Form*/
input {font-family:Dotum;font-size:12px;color:#4F4F4F;padding:2 5 0 5;}
.input01 {background-color:#FFFFFF;border:1px solid #C4D8BE;height:18px;}

.check01 {width:14px;height:14px;}
.radio01 {width:14px;height:14px;}

select {font-family:Dotum;font-size:12px;color:#4F4F4F;}
.select01 {font-family:Tahoma;font-size:14px;color:#000000;background-color:#D5C8AF;}

textfd {font-family:Dotum;font-size:12px;color:#4F4F4F;}
.textfd01 {font-family:Dotum;font-size:12px;color:#AA9166;background-color:#FFFFE7;}

.textarea01 {
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#E6DECC;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#E6DECC;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;
	scrollbar-arrow-color:#98856F;
	overflow-y:auto;
	font-family:Dotum;font-size:12px;color:#4F4F4F;
	border:1px solid #C4D8BE;
	background-color:#FFFFFF;
	padding:12 15 12 15;
	width:370px;height:150px; /*_*/
}

.textarea01_v {
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#E6DECC;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#E6DECC;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;
	scrollbar-arrow-color:#98856F;
	overflow-y:auto;
	font-family:Dotum;font-size:12px;color:#4F4F4F;
	border:1px solid #C4D8BE;
	background-color:#FFFFFF;
	padding:12 15 12 15;
	width:440px;height:150px; /*_*/
}

.textarea02 {
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#BDBDBD;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#BDBDBD;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;
	scrollbar-arrow-color:#AEABAB;
	overflow-y:auto;
	font-family:Dotum;font-size:12px;color:#4F4F4F;
	border:1px solid #AEABAB;
	background-color:#FFFFFF;
	padding:10 5 10 5;
	width:520px;height:120px; /*Board01_ */
}

.textarea03 {
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#BDBDBD;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#BDBDBD;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;
	scrollbar-arrow-color:#AEABAB;
	overflow-y:auto;
	border:none;
	font-family:Dotum;font-size:12px;color:#4F4F4F;
	width:100%;height:200px; /*Board02*/
}

.textarea04 {
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#BDBDBD;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#BDBDBD;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;
	scrollbar-arrow-color:#AEABAB;
	overflow-y:auto;
	border:none;
	font-family:Dotum;font-size:12px;color:#4F4F4F;
	border: 1px solid #d1d1d1;
	width:100%;height:134px; /*Board02*/
}

.textarea05 {
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#BDBDBD;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#BDBDBD;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;
	scrollbar-arrow-color:#AEABAB;
	overflow-y:auto;
	font-family:Dotum;font-size:12px;color:#4F4F4F;
	border:1px solid #AEABAB;
	background-color:#FFFFFF;
	padding:10 5 10 5;
	width:540px;height:200px; /*Board01_ */
}
.main_hp {
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#BDBDBD;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#BDBDBD;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;
	scrollbar-arrow-color:#AEABAB;
	overflow-y:auto;
	font-family:Dotum;font-size:12px;color:#4F4F4F;
	border:1px solid #AEABAB;
	background-color:#FFFFFF;
	padding:10 5 10 5;
	width:110px;height:80px; /*Board01_ */
	}

.main_hp1 {
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#BDBDBD;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#BDBDBD;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;
	scrollbar-arrow-color:#AEABAB;
	overflow-y:auto;
	font-family:Dotum;font-size:12px;color:#4F4F4F;
	border:1px solid #AEABAB;
	background-color:#FFFFFF;
	padding:10 5 10 5;
	width:140px;height:90px; /*Board01_ */
	}
.textareadcrc {
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#BDBDBD;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#BDBDBD;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#F8F8EA;
	scrollbar-arrow-color:#AEABAB;
	overflow-y:yes;
	border:1px solid #AEABAB;
	background-color:#F8F8EA;
	font-family:Dotum;font-size:12px;color:#4F4F4F;
	width:100%;height:100px; /*Board02*/
}

.div01 {
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#D2D2BE;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#D2D2BE;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#F8F8EA;
	scrollbar-arrow-color:#98856F;
	overflow-y:auto;
	background-color:#D9F3F4;
	padding:5 0 5 0;
	width:100%;height:165; /*  */
}

.div02 {
	scrollbar-face-color: #ffffff; 
	scrollbar-shadow-color: #E6DECC; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #E6DECC; 
	scrollbar-darkshadow-color: #FFFFFF; 
	scrollbar-track-color: #f7f7f7; 
	scrollbar-arrow-color: #98856f;
	overflow:auto;
    padding:0 5 0 0;
	width:100%;height:100%; /*  */
}


.textdomain {
	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: #444444;
	text-decoration: none;
}
.maintext {
	font-family: "±º∏≤", "±º∏≤√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡";
	font-size: 12px;
	line-height: 150%;
	color: #333333;
}
.box {
	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	text-decoration: none;
	border: 1px solid #FFFFFF;
	background-image: url(../images/b/r_bg01.gif);
}
.lpaddind {
	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: #444444;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;

}
.padding {
	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	padding: 7px;
}
.wtext {
	font-family: "±º∏≤", "±º∏≤√º", "µ∏øÚ", "µ∏øÚ√º";
	font-size: 12px;
	line-height: 150%;
	color: #FFFFFF;
	text-decoration: none;
}

.t01 {
	font-family: "µ∏øÚ", "µ∏øÚ√º", "±º∏≤", "±º∏≤√º";
	font-size: 12px;
	line-height: 150%;
	color: #EB7000;
	text-decoration: none;
}

.t02 {
	font-family: "µ∏øÚ", "µ∏øÚ√º", "±º∏≤", "±º∏≤√º";
	font-size: 12px;
	line-height: 150%;
	color: #007900;
	text-decoration: none;
}

.t03 {
	font-family: "µ∏øÚ", "µ∏øÚ√º", "±º∏≤", "±º∏≤√º";
	font-size: 12px;
	line-height: 150%;
	color: #649D69;
	text-decoration: none;
}

.t04 {
	font-family: "µ∏øÚ", "µ∏øÚ√º", "±º∏≤", "±º∏≤√º";
	font-size: 12px;
	line-height: 150%;
	color: #649D69;
	text-decoration: none;
}

.t06 {
	font-family: "µ∏øÚ", "µ∏øÚ√º", "±º∏≤", "±º∏≤√º";
	font-size: 12px;
	line-height: 150%;
	color: #9D8F64;
	text-decoration: none;
}

td {
	font-family: "±º∏≤", "±º∏≤√º", "µ∏øÚ", "µ∏øÚ√º";
	font-size: 12px;
	line-height: 150%;
	color: #444444;
	text-decoration: none;
}
.rpadding {
	font-size: 12px;
	color: 444444;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.droptext {
	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 1A6277;
	text-decoration: none;
	border: 1px solid #ffffff;
	background-color: D5F8F6;
}
.droptext02 {
	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	color: #444444;
	text-decoration: none;
	background-color: efefef;
}
.15padding {

	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	padding: 15px;
}
.10padding {

	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	padding: 10px;
}

.CCboxw {
	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	color: #75365D;
	text-decoration: none;
	border: 1px solid #ffffff;
	background-color: D196BC;
}
.wbox {

	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	color: 444444;
	text-decoration: none;
	border: 1px solid #ffffff;
}
.CCbox {

	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	color: 444444;
	text-decoration: none;
	border: 1px solid #C4D8BE;
}
.CCbox02 {
	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: #FFFFFF;
	text-decoration: none;
	border: 1px solid #d2a0c4;
	background-color: D2A0C4;
}
.CCbox03 {
	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	border: 1px solid #5676BA;
	background-color: #5676BA;
}
.CCbox04 {
	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: #FFFFFF;
	text-decoration: none;
	border: 1px solid #9869C4;
	background-color: #9869C4;
}
.5padding {

	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	padding: 5px;
}
.bgbox {
	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: #FFFFFF;
	text-decoration: none;
	border: 1px solid #CCCCCC;
	background-color: #8AB371;

}
.button {
	font-family: "±º∏≤", "±º∏≤√º", "±Ω¿∫±º∏≤√º", "±Ω¿∫πŸ≈¡«—√º";
	font-size: 11px;
	color: ffffff;
	text-decoration: none;
	background-color: #999999;
	height: 21px;
	width: 57px;
	border: 0px;
}
.3padding {


	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	padding: 3px;
}
.wbox {

	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	border: 1px solid #FFFFFF;
}
.bbox {


	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	border: 1px solid #74A1A0;
}
.colorbox {


	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	border: 1px solid B6D9C5;
}
.tlr10padding {


	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	padding: 10px 10px 0px;
}
.blr10padding {



	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	padding: 0px 10px 10px;
}
.50padding {


	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	padding: 10px 30px;
}
.30tlrpadding {



	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	padding: 10px 28px;
}
.30blrpaddingCopy {




	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	padding: 0px 30px 10px;
}
.bbutton02 {

	font-family: "±º∏≤", "±º∏≤√º", "±Ω¿∫±º∏≤√º", "±Ω¿∫πŸ≈¡«—√º";
	font-size: 12px;
	line-height: 150%;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #333333;
	height: 20px;
	width: 70px;
	border: 0px none;
}
.t10padding {




	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	padding: 10px 0px 0px;
}

.px11 {

	font-family: "±º∏≤", "±º∏≤√º", "µ∏øÚ", "µ∏øÚ√º";
	font-size: 11px;
	line-height: 150%;
	color: #666666;
	text-decoration: none;
}

.px12w {

	font-family: "±º∏≤", "±º∏≤√º", "µ∏øÚ", "µ∏øÚ√º";
	font-size: 12px;
	line-height: 18px;
	color: #B46A00;
	text-decoration: none;
}

.px11w {

	font-family: "±º∏≤", "±º∏≤√º", "µ∏øÚ", "µ∏øÚ√º";
	font-size: 12px;
	line-height: 150%;
	font-weight: bold;
	color: #31541C;
	text-decoration: none;
}

.pagecolortext {

	font-family: "±º∏≤", "±º∏≤√º", "µ∏øÚ", "µ∏øÚ√º";
	font-size: 12px;
	line-height: 150%;
	color: #11678A;
	text-decoration: none;
}

.wepx11 {

	font-family: "±º∏≤", "±º∏≤√º", "µ∏øÚ", "µ∏øÚ√º";
	font-size: 11px;
	line-height: 150%;
	color: #FFD140;
	text-decoration: none;
}
.colorbox02 {


	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	border: 1px solid #CCCCCC;
}

.10tbpadding {
	font-family: "±º∏≤", "±º∏≤√º", "±√º≠", "±√º≠√º", "µ∏øÚ", "µ∏øÚ√º", "πŸ≈¡", "πŸ≈¡√º";
	font-size: 12px;
	line-height: 150%;
	color: 444444;
	text-decoration: none;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
}



</STYLE>
