BODY {
background-color:#ffffff;
scrollbar-face-color: #eeeeee;  
scrollbar-shadow-color: #B7B7B7;  
scrollbar-highlight-color: #F2F2F2;  
scrollbar-3dlight-color: #F2F2F2;  
scrollbar-darkshadow-color: #E9E9E9;  
scrollbar-track-color: #E9E9E9;  
scrollbar-arrow-color: #B7B7B7; 
}


td {  font-family: "µ¸¿ò", "±¼¸²"; font-size: 9pt; color: #666666; line-height: 19px; }
p {  font-family: "µ¸¿ò", "±¼¸²"; font-size: 9pt; color: #666666; line-height: 19px; }

.td8 {  font-family: "µ¸¿ò", "±¼¸²"; font-size: 8pt; line-height: 19px; }
.td 	 {  font-family: "µ¸¿ò", "±¼¸²"; font-size: 9pt; color: #666666; }
.td000 {  font-family: "µ¸¿ò", "±¼¸²"; font-size: 9pt; color: #000000; }
.td333 {  font-family: "µ¸¿ò", "±¼¸²"; font-size: 9pt; color: #333333; }
.td666 {  font-family: "µ¸¿ò", "±¼¸²"; font-size: 9pt; color: #666666; }
.td999 {  font-family: "µ¸¿ò", "±¼¸²"; font-size: 9pt; color: #999999; }




a:link			{ font-size: 9pt; color: #000000;  text-decoration: none; line-height: 19px; }
a:visited		{ font-size: 9pt; color: #000000;  text-decoration: none; line-height: 19px; }
a:hover		{ font-size: 9pt; color: #D4633F;  text-decoration: underline; line-height: 19px; }
a:active		{ font-size: 9pt; color: #D4633F;  text-decoration: underline; line-height: 19px; }

a.location:link 		{ font-size: 8pt; color: #666666;  text-decoration: none; }
a.location:visited		{ font-size: 8pt; color: #666666;  text-decoration: none; }
a.location:hover		{ font-size: 8pt; color: #D4633F;  text-decoration: underline; }
a.location:active		{ font-size: 8pt; color: #D4633F;  text-decoration: underline; }

a.location2:link 		{ font-size: 8pt; color: #666666;  text-decoration: none; }
a.location2:visited	{ font-size: 8pt; color: #666666;  text-decoration: none; }
a.location2:hover	{ font-size: 8pt; color: #D4633F;  text-decoration: underline; }
a.location2:active	{ font-size: 8pt; color: #D4633F;  text-decoration: underline; }

a.pageno:link 		{ font-family: "Verdana", "Arial"; font-size: 7pt; color: #666666;  text-decoration: none; }
a.pageno:visited		{ font-family: "Verdana", "Arial"; font-size: 7pt; color: #666666;  text-decoration: none; }
a.pageno:hover		{ font-family: "Verdana", "Arial"; font-size: 7pt; color: #3B82C9;  text-decoration: underline; }
a.pageno:active		{ font-family: "Verdana", "Arial"; font-size: 7pt; color: #3B82C9;  text-decoration: underline; }


a.search:link 		{ font-size: 9pt; color: #000000;  text-decoration: none; line-height: 21px; }
a.search:visited		{ font-size: 9pt; color: #000000;  text-decoration: none; line-height: 21px; }
a.search:hover		{ font-size: 9pt; color: #D4633F;  text-decoration: underline; line-height: 21px; }
a.search:active		{ font-size: 9pt; color: #D4633F;  text-decoration: underline; line-height: 21px; }




.input  {
 BACKGROUND-COLOR: #F5F5F5;
 BORDER-TOP: #dddddd 1px solid;
 BORDER-LEFT: #dddddd 1px solid;
 BORDER-RIGHT: #dddddd 1px solid;
 BORDER-BOTTOM: #dddddd 1px solid; 
 COLOR: #666666;
 FONT-FAMILY: "µ¸¿ò", "±¼¸²";
 FONT-SIZE: 9pt;
}
