.phone {
	float: left;
	'
}

#controls {
	display: none;;
}

#pone_list {
	display: block;
	float: right;
	'
}

.tab_box {
	clear: both;
	'
}

#pone_list {margin-top20px;
	width: 272px;
	zoom: 1;
}

#pone_list .bg {
	background:
		url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/right_bg.gif) 0%
		100% no-repeat;
	padding: 0 12px 10px 15px;
}

#pone_list .srh {
	background:
		url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/u_dotline.gif) 0%
		100% repeat-x;
	padding: 7px 0 15px 0;
	margin: 0 3px 9px 0;
	position: relative;
	z-index: 2;
}

#pone_list .srh .inp {
	background: #f6f6f6;
	width: 190px;
}

#pone_list .srh .srh_box {
	position: absolute;
	left: 0;
	top: 21px;
	border: 1px solid #b9b9b9;
	padding: 1px;
	background: #FFF;
	width: 185px;
}

#pone_list .srh .srh_box dl {
	padding: 5px 7px 3px 7px;
}

#pone_list .srh .srh_box dd {
	clear: both;
	cursor: hand;
	padding: 0 0 3px 0;
}

#pone_list .srh .srh_box .lt {
	float: left;
	width: 53px
}

#pone_list .srh .srh_box .rt {
	float: left;
}

#pone_list .srh .srh_box .close {
	clear: both;
	display: block;
	text-align: right;
	background: #f7f7f7;
	padding: 4px 5px 1px 0;
}

#pone_list .srh .srh_box .close a {
	font: 11px µ¸¿ò;
	color: #666;
}

#pone_list .send {
	margin: 7px 0 9px 0;
	position: relative;
	z-index: 1;
}

#pone_list .send strong {
	margin: 0 118px 0 0;
}

#pone_list ul {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 243px;
	height: 172px;
	scrollbar-face-color: #fff;
	scrollbar-shadow-color: #BEBEBE;
	scrollbar-3dlight-color: #BEBEBE;
	scrollbar-arrow-color: #666666;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-base-color: #F2EDCE;
	scrollbar-track-color: #F7F7F7;
}

#pone_list li {
	zoom: 1;
	padding: 0 0 4px 0;
}

#pone_list li:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	line-height: 0;
	height: 0px;
}

#pone_list li .lt {
	position: relative;
	float: left;
	padding: 0 6px 0 0;
}

#pone_list li .lt .nt {
	position: absolute;
	background: #eeeeef;
	color: #999;
	font: 11px ±¼¸²;
	padding: 3px 3px 0 2px;
	left: 2px;
	top: 3px;
}

#pone_list li .lt input {
	width: 80px;
	height: 20px;
	padding-left: 20px;
}

#pone_list li .rt {
	position: relative;
	float: left;
}

#pone_list li .rt .bt {
	position: absolute;
	right: 4px;
	top: 6px;
}

#pone_list li .rt input {
	width: 136px;
	height: 20px;
}

#pone_list li input {
	height: 20px;
}

#pone_list .btn {
	text-align: center;
}

#pone_list .to {
	background:
		url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/u_dotline.gif) 0%
		100% repeat-x;
	padding: 0 0 8px 0;
	margin: 7px 3px 8px 0;
	claer: both;
}

#pone_list .to strong {
	margin: 0 4px 0 0;
}

#pone_list .to .inp {
	vertical-align: -2px;
	height: 20px;
}

#pone_list .nsent {
	font-size: 11px;
	background:
		url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/u_dotline.gif) 0%
		100% repeat-x;
	margin-top: 10px;
	padding: 0 0 3px 0;
	line-height: 160%;
	height: 35px;
}

#pone_list .nsent strong {
	color: #167adc;
}

#pone_list .nsent span {
	position: relative;
	z-index: 50;
}

#pone_list .nsent span span {
	background:
		url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/bg_layset_n.gif) 0 0
		no-repeat;
	width: 60px;
	height: 23px;
	position: absolute;
	left: -5px;
	top: -22px;
	text-align: center;
	padding-top: 2px;
}

#pone_list .nsent span span a {
	color: #666;
	padding-top: 2px;
	padding: 0 1px;
}

#pone_list .nsent span span a:hover {
	background: none;
	color: #666;
	text-decoration: underline;
	padding: 0 1px;
}

#pone_list .nsent span span a.del {
	color: #ef3a61;
	padding-top: 2px;
	padding: 0 1px;
}

#pone_list .nsent span span a.del:hover {
	background: none;
	color: #ef3a61;
	text-decoration: underline;
	padding: 0 1px;
}

#pone_list .nsent a {
	color: #909090;
	padding-top: 2px;
}

#pone_list .nsent a:hover {
	background: #5ca4ec;
	color: #fff;
	text-decoration: none;
	padding-top: 2px;
}

#pone_list .nsent a.tak:link,#pone_list .nsent a.tak:visited,#pone_list .nsent a.tak:hover,#pone_list .nsent a.tak:active
	{
	background: #5ca4ec;
	color: #fff;
	padding-top: 2px;
}

#pone_list .add_sub01 {
	claer: both;
	background:
		url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/u_dotline.gif) 0%
		100% repeat-x;
	zoom: 1;
	padding: 0 0 12px 0;
	margin: 0 0 12px 0;
}

#pone_list .add_sub01:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	line-height: 0;
	height: 0px;
}

#pone_list .add_sub01 .lt {
	position: relative;
	float: left;
	padding: 0 6px 0 0;
}

#pone_list .add_sub01 .lt .nt {
	position: absolute;
	background: #eeeeef;
	color: #999;
	font: 11px ±¼¸²;
	padding: 3px 3px 0 2px;
	left: 2px;
	top: 3px;
}

#pone_list .add_sub01 .rt {
	float: left;
	position: relative;
}

#pone_list .add_sub01 .rt .bt {
	position: absolute;
	right: 4px;
	top: 6px;
}

#pone_list .add_sub02 .b1 {
	width: 40px;
	padding: 5px 0 0 0;
}

#pone_list .add_sub02 {
	clear: both;
	background:
		url(http://i.kthimg.com/TOP/svc/sms/v1/img/common/u_dotline.gif) 0%
		100% repeat-x;
	zoom: 1;
	padding: 0 0 12px 0;
	margin: 0 0 12px 0;
}

/* numeric controls */
ol#controls {
	display: none;
	border: 2px solid #e1e1e1;
	position: absolute;
	right: 270px;
	top: 320px;
	margin: 1em 0;
	padding: 0;
	height: 28px;
	width: 154px;
	height: 154px;
	background-color: #fff;
}

ol#controls li {
	margin: 1px;
	padding: 0;
	float: left;
	list-style: none;
	height: 38px;
	line-height: 38px;
}

ol#controls li a {
	float: left;
	height: 38px;
	line-height: 38px;
	border: 1px solid #ccc;
	background: #DAF3F8;
	color: #555;
	padding: 0 20px;
	text-decoration: none;
}

ol#controls li a#backSpace {
	padding: 0 16px;
}

ol#controls li a:hover {
	background: #5DC9E1;
	color: #fff;
}

ol#controls li a:focus,#prevBtn a:focus,#nextBtn a:focus {
	outline: none;
}

li#keyPadClose {
	height: 18px;
	line-height: 18px;
	width: 150px;
	padding: 0;
}

li#keyPadClose a {
	height: 18px;
	line-height: 18px;
	width: 148px;
	padding: 0;
}

#resetTextBtn,#addFile, .bt img{
	cursor: pointer;
}
