<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>강원청 SMS</display-name>
  
 
  	
 	<context-param>
        <param-name>title</param-name>
        <param-value>강원청SMS</param-value>
    </context-param>
  
  	<servlet>
		<description>계정, 로그인처리</description>
		<display-name>
			AccountFrontController
		</display-name>
		<servlet-name>
			AccountFrontController
		</servlet-name>
		<servlet-class>
			kr.go.police.account.AccountFrontController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountFrontController</servlet-name>
		<url-pattern>*.ac</url-pattern>
	</servlet-mapping>
	
  	<servlet>
		<description>SMS 문자 수신 처리</description>
		<display-name>
			SmsFrontController
		</display-name>
		<servlet-name>
			SmsFrontController
		</servlet-name>
		<servlet-class>
			kr.go.police.sms.SmsFrontController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmsFrontController</servlet-name>
		<url-pattern>*.sm</url-pattern>
	</servlet-mapping>	
	
  	<servlet>
		<description>게시판 처리</description>
		<display-name>
			BoardFrontController
		</display-name>
		<servlet-name>
			BoardFrontController
		</servlet-name>
		<servlet-class>
			kr.go.police.board.BoardFrontController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardFrontController</servlet-name>
		<url-pattern>*.bo</url-pattern>
	</servlet-mapping>		

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>